<ActionBar class="actionbar">
  <Label text="Add Receipt" class="actionbar--title"></Label>

  <ActionItem ios.position="left" (tap)="back()">
    <Button backgroundColor="transparent">
      <FormattedString>
        <Label text="&#xe5c4;" class="actionbar--icon"></Label>
      </FormattedString>
    </Button>
  </ActionItem>
</ActionBar>

<StackLayout class="parent-container" [formGroup]="form">
  <GridLayout rows="auto,auto" columns="auto, 80,*" class="header">
    <Label row="0" col="0" text="&#xf1b6;" class="icon"></Label>
    <Label row="0" col="1" text="Name" class="header__label"></Label>
    <TextField
      row="0"
      col="2"
      textWrap="true"
      hint="Name"
      class="input-field"
      formControlName="title"
    ></TextField>
  </GridLayout>
  <GridLayout rows="auto,auto" columns="auto,80, *" class="field-container">
    <Label row="0" col="0" text="&#xf1b6;" class="icon"></Label>
    <Label row="0" col="1" text="Price" class="field-container__label"></Label>
    <TextField
      row="0"
      keyboardType="number"
      col="2"
      textWrap="true"
      hint="Price"
      formControlName="price"
      class="input-field"
    ></TextField>
  </GridLayout>
  <GridLayout class="date-container">
    <DatePickerField
      hint="Select Date"
      buttonOkTextColor="red"
      pickerTitle="Confirm predefined date selection"
      formControlName="date"
    ></DatePickerField>
  </GridLayout>
  <GridLayout class="date-container">
    <DropDown
      #dd
      class="text"
      [hint]="hint"
      itemsTextAlignment="center"
      [items]="items"
      [formControl]="form.get('category')"
      (selectedIndexChanged)="onchange($event)"
    ></DropDown>
  </GridLayout>
  <GridLayout rows="auto,auto" columns="auto,80, *" class="note-container">
    <Label row="0" col="0" text="&#xe873;" class="icon"></Label>
    <Label row="0" col="1" text="Notes" class="field-container__label"></Label>
  </GridLayout>
  <GridLayout rows="auto" height="28%" class="note-container--data">
    <TextField
      row="0"
      textWrap="true"
      hintTextColor="red"
      hint="Enter description..."
      formControlName="notes"
      class="note-field"
    ></TextField>
  </GridLayout>
  <GridLayout rows="auto,auto" class="botton-container">
    <Button
      row="0"
      text="Save"
      class="botton-container--save"
      (tap)="onSave()"
    ></Button>
    <Button
      row="1"
      text="Cancel"
      class="botton-container--cancel"
      (tap)="back()"
    ></Button>
  </GridLayout>
</StackLayout>
