@import "@nativescript/theme/core";
@import "@nativescript/theme/default";
@import "./assets/styles/variables";


.actionbar {
  background-color: $primary;
  &--title {
    font-size: 17;
    font-family: $font-bold;
    font-weight: bold;
    color: $secondary;
  }
}
