@import "@nativescript/theme/core";
@import "@nativescript/theme/default";
@import "./assets/styles/variables";


.actionbar {
  background-color: $primary;
  &--title {
    font-size: 17;
    font-family: $font-bold;
    font-weight: bold;
    color: $secondary;
  }
}

.small-fab {
  width: 150px; 
  height: 150px;
  position: absolute;
  left: 50%; 
  transform: translateX(110%);
  bottom: 20px; 
  background-color: white
}


MDFloatingActionButton {
  @extend .small-fab;
  font-size: 32; 
  padding-right: -2;
  padding-left: 10;
}

.m-icon { 
  font-family: "Material Icons", "MaterialIcons-Regular";
  font-weight: 400;
  
}

.m-icon-font-size {
  font-size: 30;
}

.m-icon-outline { 
  font-family: "Material Icons", "MaterialIconsOutlined-Regular";
  font-weight: 400;
}

