<ActionBar flat="true" class="actionbar">
  <Label text="Dashboard" class="actionbar--title"></Label>
</ActionBar>
<!-- parent -->
<FlexboxLayout class="parent-container">
  <GridLayout rows="auto,auto" columns="*, 50" class="header">
    <GridLayout
      row="0"
      col="0"
      rows="50,auto"
      columns="auto, *"
      class="header__label--container"
    >
      <Label col="0" class="header__label">Your total spend is </Label>
      <Label row="1" col="0" class="header__label--currency"
        >&#8369;1,000,000</Label
      >
    </GridLayout>

    <GridLayout row="0" col="1">
      <Label text="&#xe853;" class="header-icon"></Label>
    </GridLayout>
  </GridLayout>
  <!-- <Button (tap)="addReceipt()">Add Receipt</Button> -->

  <Label text="Receipt Lists" class="receipt-container--title"></Label>
  <GridLayout
    row="2"
    rows="*,auto"
    columns="auto,auto"
    class="receipt-container"
  >
    <GridLayout row="0" col="1" backgroundColor="orange"></GridLayout>

    <GridLayout row="0" rows="*" class="receipt-container__data">
      <ScrollView>
        <StackLayout padding="12">
          <GridLayout
            row="0"
            rows="auto,auto"
            columns="*,auto,*"
            *ngFor="let item of receiptData; let i = index"
            class="receipt-data"
            (tap)="addReceipt()"
          >
            <GridLayout row="0" col="1">
              <Label col="1" class="date-container">
                {{ item.date | formatDate }} | &#8369;0
              </Label>
            </GridLayout>

            <GridLayout
              class="receipt-data--container"
              colSpan="3"
              row="1"
              columns="50,*,*"
              rows="auto,auto,auto"
            >
              <Image
                rowSpan="2"
                src="~/assets/app-images/benz.png"
                height="60"
                class="receipt-data--image"
              ></Image>

              <Label
                class="receipt-data--label__title"
                row="0"
                col="1"
                text="{{ item.title }}"
              ></Label>

              <Label
                text="&#8369;{{ item.price }}"
                textWrap="true"
                class="receipt-data--label__title"
                row="0"
                col="2"
              ></Label>

              <Label
                class="receipt-data--label"
                row="1"
                col="1"
                text="{{ item.category }}"
              ></Label>
            </GridLayout>
          </GridLayout>

          <!-- Using ngFor to iterate over receiptData array -->
        </StackLayout>
      </ScrollView>
    </GridLayout>
  </GridLayout>
</FlexboxLayout>
