.parent-container {
  padding: 15;
  flex-direction: column;
  flex: 1;
}

.header {
  border-radius: 20;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 10;
  height: 29%;
  &__label {
    font-size: 20;
    &--currency {
      font-size: 20;
      color: rgb(0, 0, 8);
    }
    &--container {
      padding: 25;
    }
  }
  &-icon {
    margin-top: 5;
    font-family: "Material Icons", "MaterialIcons-Regular";
    font-weight: 400;
    font-size: 40;
  }
}

.receipts-list {
  font-size: 16;
  font-weight: bold;
}
.receipt-container {
  height: 50%;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 90%;
  padding: 10;
  border-radius: 20;
  background-color: #7adba6;
  &__data {
    width: 95%;
    border-radius: 20;
  }
  &--title {
    font-size: 16;
    margin-left: 10;
    align-self: center;
    font-weight: 800;
  }
}

.date-container {
  background-color: #ae9393;
  padding: 4;
  height: auto;
  border-radius: 30;
}

.receipt-data {
  margin-bottom: 5;
  &--label {
    color: rgb(5, 5, 5);
    font-size: 20;
    margin-left: 10;
    font-weight: 100;
    &__title {
      font-size: 20;
      margin-left: 10;
      font-weight: 700;
    }
  }
  &--image {
    border-radius: 20;
  }

  &--container {
    margin-top: 5;
    border-width: 1;
    border-radius: 20;
    background-color: white;

    padding: 10;
  }
}

.label-style {
  font-size: 15;
  font-weight: 500;
  margin-left: 5;
  margin-bottom: 10;
}