<ActionBar flat="true" class="actionbar">
  <Label text="user name" class="actionbar--title"></Label>
</ActionBar>
<!-- parent -->
<GridLayout columns="auto, auto" rows="*, auto, auto" class="parent-container">
  <!-- receipts and currency -->
  <GridLayout rows="auto,auto" columns="auto, auto" class="header">
    <Label col="0">You have spend </Label>
    <Label col="1">&#8369;1,000,000 </Label>
    <!-- date grid  -->
  </GridLayout>

  <GridLayout row="1">
    <Label col="0" class="label-style">List of Receipts</Label></GridLayout
  ><MDCardView rippleColor="red" width="100" height="100"></MDCardView>

  <!-- MAO NING RED -->
  <GridLayout row="2" rows="*" class="receipt-container">
    <GridLayout row="0" rows="*" class="receipt-container__data">
      <ScrollView>
        <StackLayout padding="12">
          <GridLayout
            row="0"
            rows="*,*"
            columns="*,auto,*"
            *ngFor="let item of receiptData; let i = index"
            class="receipt-data"
          >
            <GridLayout col="0"></GridLayout>
            <Label col="1" class="date-container">
              {{ item.date | formatDate }} | &#8369;0
            </Label>

            <Label class="receipt-data--label" row="1">{{ item.text }}</Label>
          </GridLayout>

          <!-- Using ngFor to iterate over receiptData array -->
        </StackLayout>
      </ScrollView>
    </GridLayout>
  </GridLayout>
</GridLayout>
