.parent-container {
  padding: 15;
}
.header {
  border-radius: 20;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 10;
}

.receipts-list {
  font-size: 16;
  font-weight: bold;
}
.receipt-container {
  height: 50%;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20;
  padding: 10;
  margin-left: 4;
  width: 90%;
  background-color: #7adba6;
  align-self: center;
  &__data {
    border-radius: 20;
    background-color: #afebc7;
  }
}

.date-container {
  background-color: #eefbf3;
  padding: 4;
  height: auto;
  border-radius: 30;
}

.receipt-data {
  margin-bottom: 5;
  width: 100%;
  &--label {
    color: rgb(5, 5, 5);
  }
}

.label-style {
  font-size: 15;
  font-weight: 500;
  margin-left: 5;
  margin-bottom: 10;
}
